@model List<ClientModel>
@{
    ViewData["Title"] = "Checkout Page";
}

<div class="text-center" id="heroConteiner">
    <h1 class="display-4">Checkouts do dia</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Quarto</th>
                <th scope="col">Check-in</th>
                <th scope="col">Check-out</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (ClientModel item in Model)
                {
                    @if (item.CheckOut == DateTime.Today && item.ActiveClient == true)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Room</td>
                            <td>@item.CheckIn.ToString("dd/MM/yyyy")</td>
                            <td>@item.CheckOut.ToString("dd/MM/yyyy")</td>
                            <td class="btn-group" role="group" aria-label="Basic example">
                                <a type="button" class="btn btn-success" asp-controller="Client" asp-action="CheckoutClient" asp-route-id="@item.Id">Confirmar Checkout</a>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
